.quicksand-font {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.twinkle-star-regular {
  font-family: "Twinkle Star", cursive;
  font-weight: 400;
  font-style: normal;
}


* {
  font-family: "Quicksand";
  color: white;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  display: flex;
}

.image-container {
  height: 100vh;
  position: relative;
  width: 35vw;
}

.logo-container {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100px;
  text-align: center;
  position: absolute;
  top: 30%;
  font-size: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container > p {
  font-family: "Twinkle Star";
  font-size: 3.5rem;
  color: white;
  opacity: 1;
}

.photo-credit {
  position: fixed;
  bottom: 10px;
  width: 35vw;
  display: flex;
  justify-content: center;
}

#nebula {
  height: 100%;
  position: fixed;
}

#odin {
  height: 75%;
  margin-right: 10px;
}

.sign-up-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(51, 10, 134);
  padding: 0px;
  position: relative;
  width: 65vw;
}

.intro-paragraph {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  height: 30vh;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.intro-paragraph > :first-child {
  font-size: 1.3rem;
}

h1 {
  padding-bottom: 20px;
  text-align: center;
  font-size: 1.4rem;
}

form {
  box-sizing: border-box;
  background-color: rgb(3, 3, 16);
  padding: 30px;
  padding-left: 30px;
  position: absolute;
  top: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form * {
  color: rgb(24, 194, 152);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-row {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

}

label {
  display: block;
  font-size: 1rem;
  font-weight: 600;
}

input {
  border: 3px solid rgb(24, 194, 152);
  color: black;
  border-radius: 4px;
  width: 250px;
  height: 30px;
  font-size: 1rem;
  font-weight: 500;
  padding-left: 5px;
}

input:focus {
  border: 4px solid rgb(51, 10, 134);
  outline: none;
}

/* .form-col {
  margin-right: 30px;
} */

button {
  height: 50px;
  width: 200px;
  background-color: rgb(51, 10, 134);
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 5px;
  margin-top: 10px;
}

input:user-invalid {
  border: 3px solid rgb(255, 119, 0);
}
